
@import url("whitespace-reset.css");

header {
  background-image: url("images/bg-header.png");
  height: 185px;
  width: 1263px;
}

h1 {
  width: 479px;
  margin: 0 auto;
  padding-top: 47px;
  font: bold 45px "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

h1 img {
  width: 95%;
}

header nav  {
  margin-top: 6px;
  margin-left: 296px;
}

header nav ul li {
  display: inline-block;
}

header nav li:nth-child(1) {
 /* padding-left: 296px;*/
}

header nav li:nth-child(1), header nav li:nth-child(2), header nav li:nth-child(3), 
header nav li:nth-child(4), header nav li:nth-child(5) {
  padding-right: 66px;
}

header nav li a {
  font: normal 18px "Palatino Linotype", "Book Antiqua", Palatino, serif;
  text-decoration: none;
  color: black;
}

header nav li a:hover, header nav li a:active {
  color: #af0000;
}

/*main*/
body {
  background-image: url("images/bg-body.jpg");
  height: 1604px;
}

main {
  width: 960px;
  height: 1020px;
  margin-left: 152px;
  margin-top: 26px;
  background-color: #000000;
  border: 1px solid #4f4f4f;
  box-sizing: border-box;
}

.ticketInfo {
  height: 92px;
  border-bottom: 1px solid #4f4f4f; 
  box-sizing: border-box;
}

h2 {
  color: white;
  font: normal 30px "Palatino Linotype", "Book Antiqua", Palatino, serif;
  padding-top: 22px;
  padding-left: 26px;
}

.headings {
  border-bottom: 1px solid #4f4f4f; 
  box-sizing: border-box;
}

h3 {
  font: normal 18px "Palatino Linotype", "Book Antiqua", Palatino, serif;
  padding-left: 22px;
  padding-top: 26px;
  color: #ffffef;
}

.firstHeading, .secondHeading, .thirdHeading {
  display: inline-block;
}

.firstHeading {
  width: 234px;
  height: 92px;
  border-right: 1px solid #4f4f4f; 
  box-sizing: border-box; 
}

.secondHeading {
  width: 240px;
  height: 92px;
  border-right: 1px solid #4f4f4f;  
  box-sizing: border-box;
}

.thirdHeading {
  width: 455px;
  height: 92px;
}

/*main sections */
.mainFrame {
  border-bottom: 1px solid #4f4f4f;
  box-sizing: border-box;
}

.leftSection, .middleSection, .rightSection {
  display: inline-block;
  height: 250px;
  overflow: hidden;
}

/*left*/
.leftSection {
  width: 234px;
  border-right: 1px solid #4f4f4f;
  box-sizing: border-box; 
  
}

.leftSection ul {
  padding-top: 20px;
  padding-left: 22px;
}

.leftSection ul li {
  font: normal 12px Arial, Helvetica, sans-serif;
  line-height: 290%;
  color: #ffffef;

}

.leftSection ul li em {
  color: #9ea4a5;
}

/*middle*/
.middleSection {
  width: 240px;
  border-right: 1px solid #4f4f4f;  
  box-sizing: border-box; 

}

.middleSection p {
  padding-top: 20px;
}

.middleSection p {
  font: normal 18px "Palatino Linotype", "Book Antiqua", Palatino, serif;
  color: #af0000;
  padding-left: 22px;
  line-height: 275%;
}

/*right*/
.rightSection {
  width: 475px;
}

.rightSection p {
  font: 12px Arial, Helvetica, sans-serif;
  line-height: 150%;
  text-align: left;
  color: #a5a5a5;
  padding-left: 22px;
  padding-top: 28px;
  display: inline-flex;
}

.rightSection p:nth-child(1)::before {
  content: url(images/icon-1.png);
  display: inline;
  padding-right: 22px;
}

.rightSection p:nth-child(2)::before {
  content: url(images/icon-2.png);
  display: inline;
  padding-right: 22px;
}

.rightSection p:nth-child(3)::before {
  content: url(images/icon-3.png);
  display: inline;
  padding-right: 22px;
}

/*rules and membership*/
.secondFrame {
  border-bottom: 1px solid #4f4f4f;
  box-sizing: border-box;
}

.rules, .membership {
  display: inline-block;
  height: 82px;
}

.rules h3, .membership h3 {
  font-size: 17px;
  padding-top: 22px; 
}
.rules {
  width: 478px;
  border-right: 1px solid #4f4f4f;  
  box-sizing: border-box;
}

/*paragraphs*/

.leftPar {
  width: 478px;
  height: 495px;
  border-right: 1px solid #4f4f4f;  
  box-sizing: border-box;
  vertical-align: top;
}

.leftPar, .rightPar {
  display: inline-block;
  overflow: hidden;
}

.leftPar p, .rightPar p {
  font: normal 12px Arial, Helvetica, sans-serif;
  color: #a5a5a5;
  padding-bottom: 25px;
  padding-left: 22px;
  line-height: 150%;
}

.leftPar p:nth-child(1) {
  padding-top: 27px;
}

.rightPar p:nth-child(3) {
  padding-bottom: 20px;
}

.rightPar > img {
  width: 476px;
  border-bottom: 1px solid #4f4f4f;  
  margin-bottom: 27px;
  overflow: hidden;
}


.rightPar form input {
  margin-left: 15px;
}


.rightPar input {
  height: 23px;
  width: 160px;
  border-radius: 10px;
  font: normal 11px Arial, Helvetica, sans-serif; 
  color: #faf4ed;
  cursor: pointer;
  background-color: #c66b16;
  border: none;
}

.rightPar input:hover {
  background-color: #d78b1d;
}


/*article*/

.left {
  width: 312px;
  margin-top: 157px;
}

h4 {
  padding-top: 3px;
  padding-left: 8px;
  margin-bottom: 10px;
  color: white;
  font : bold 12px Arial, Helvetica, sans-serif;
}

.left, .middle {
  display: inline-block;
  border-right: 1px solid #4f4f4f; 
  box-sizing: border-box; 
  height: 150px;
  overflow: hidden;
}
.left table {
  padding-left: 8px;
}

.left table a {
  font: normal 11px Arial, Helvetica, sans-serif;
  color: #a0090e;
  text-decoration: none;
}

.left table a:hover, .middle p a:hover {
  color: #ff0000;
}

.left table tr td:nth-child(2) {
  padding-left: 12px;
}

.left table tr td:nth-child(3) {
  padding-left: 12px;
}
/*   */

.middle {
  display: inline-block;
  width: 333px;
}

.middle p {
  font: normal 12px Arial, Helvetica, sans-serif;
  color: #929da5;
  line-height: 150%;
  padding-left: 8px;
  padding-top: 5px;
  overflow: hidden;
}

.middle p a {
  display: block;
  font: italic 11px Arial, Helvetica, sans-serif;
  color: #a0090e;
  text-decoration: none;
  padding-bottom: 20px;
  padding-top: 7px;
}

/* */
.right {
  display: inline-block;
 
  height: 150px;
  overflow: hidden;
}

.right p {
  font: normal 12px Arial, Helvetica, sans-serif;
  color: #929da5;
  line-height: 150%;
  padding-left: 8px;
  padding-top: 10px;
  padding-bottom: 15px;
}

.right form {
  margin-left: 8px;
}

.right form input:first-child {
  width: 215px;
  height: 25px;
  background-color: #4f4f4f;
  overflow: hidden;
  border:none;
}

.right form input[type=text]:first-child {
  color: #090015;
}

::-webkit-input-placeholder {
  color: #090015;
  padding-left: 8px;
}

.right form input:nth-child(2) {
  height: 23px;
  width: 68px;
  margin-left: 7px;
  border-radius: 10px;
  font: normal 11px Arial, Helvetica, sans-serif; 
  color: #faf4ed;
  cursor: pointer;
  background-color: #c66b16;
  border: none;
}

.right form input:nth-child(2):hover {
  background-color: #d78b1d;
} 

/*footer*/
footer {
  height: 33px;
  width: 1263px;
  background-color: #343434;
  display: block;
  margin-top: 330px;

}

footer div {
  width: 960px;
  margin: 0 auto;
}

footer div em:first-child {
  display: inline-block;
  font: normal 11px Arial, Helvetica, sans-serif;
  color: #929da5; 
  vertical-align: top;
  padding-top: 10px;      
}

footer div em:first-child:before {
  content: "\00a9";
  padding-right: 4px;
}

footer div em:nth-child(2) {
  display: inline-block;
  padding-left: 665px;
  padding-right: 6px;
  font: normal 11px Arial, Helvetica, sans-serif;
  color: #929da5;
  vertical-align: top;
  padding-top: 10px;
}

footer div ul {
  display: inline-block;
  margin-top: 5px;
}

footer div ul li a {
  display: inline-block;
  overflow: hidden;
  width: 16px;
  height: 20px;
}

.facebook { 
  background: url(images/facebook-org.png) 0 0 no-repeat;
  padding-right: 2px; 
}

.facebook:hover {
  background: url(images/facebook-hover.png) 0 0 no-repeat;
}

.twitter {
  background: url(images/twitter-org.png) 0 0 no-repeat;
  padding-left: 12px;
}

.twitter:hover {
  background: url(images/twitter-hover.png) 0 0 no-repeat;
}

.googlePlus {
  background: url(images/googlePlus-org.png) 0 0 no-repeat;
}

.googlePlus:hover {
  background: url(images/googlePlus-hover.png) 0 0 no-repeat;
}




